* {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

/*#ff3333;*/
/*color: #0f1a26;*/

.menu {
  border-radius: 0rem;
  margin-bottom: 0rem;
  color: #fff;
  box-shadow: 0 0.1rem 1rem #000000;
  z-index: 1;
  background-color: #ff3333;
  border: 0px;
}

.menu-option {
  color: #fff;
}

.menu-option:hover {
  color: #fff;
  background-color: #0f1a26 !important;
}

.section-title {
  text-align: center;
  padding-bottom: 3rem;
  color: #ff3333;
}

.section-with-bg {
  background-color: #0f1a26;
  box-shadow: inset 0 0.5rem 1rem -0.6rem #000000;
}

.section-with-bg-dark {
  background-color: #070c0e;
  height: 6rem;
}

.footer {
  text-align: center;
  background-color: #0f1a26;
}

.footer-text {
  color: #fff;
}

.padding {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.btn-send-group {
  text-align: center;
}

.btn-send {
  border-radius: 0rem;
  background-color: #070c0e;
  color: #fff;
}

.btn-send:hover {
  color: #ff3333;
}

.form-input {
  border-radius: 0rem;
}

.align-center {
  text-align: center;
}

.icon-link {
  padding: 1rem;
}

.icon {
  width: 5rem;
}

.contact-phone {
  padding-top: 1rem; 
  font-size: 2rem;
}

.image-selection {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
}

.image-selection>img {
  display: block;
  max-width: 100%;
  height: auto;
}

#whoami {
  padding-bottom: 8rem;
}

.whoami-image-container {
  padding-right: 5rem;
  width: 1rem;
}

.whoami-image {
  width: 30rem;
  /*border: .5rem solid #070c0e;*/
}

.container-image {
  cursor: pointer;
  position: relative;
  width: 100%;
  /*border: .5rem solid #070c0e;*/
}

.image {
  display: block;
  width: 27rem;
  height: 27rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  max-width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ff3333;
}

.container-image:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.padding-top {
  padding-top: 2rem;
}

.img-banner {
  height: 55rem !important;
  width:100%;
}

.navbar-btn {
  background-color: #0f1a26 ;
}

.navbar-icon-bar {
  background-color: #ff3333 ;
}

.brand-logo {
  width: 3rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .img-banner {
    height: 25rem !important;
  }

  .form-email {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .btn-send {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .img-banner {
    height: 55rem !important;
  }

  .btn-send {
    width: 15rem;
  }
}